@import "/src/style/variables";

#display-toggle {
  span {
    font-weight: $light;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }

    &.selected {
      font-weight: $bold;
    }
  }
}